SOLANA_CLUSTER=localnet
MAGICBLOCK_ROUTER_RPC=http://127.0.0.1:7799
MAGICBLOCK_ROUTER_WS=ws://127.0.0.1:7800
MAGICBLOCK_PER_RPC=http://127.0.0.1:7799
MAGICBLOCK_PER_AUTH_MODE=local
HIDDEN_BET_PROGRAM_IDS={"core":"2DVDuGDWRMhwvSPcyCWz5sAft2T1Dt1tgQio6cUgNDVh","plinko":"Ao5MS1NuDFYxfMoSmYrY6iSpJ343t35j1XnbKiaSEzs","roulette":"iFTY1vz8n1c24Sb9EWXkvzYJFsSH7yvdaYYsbE5MGcD","slots":"4bJWKYAfAjuQDCHxxn57bXfq44jawFUwc7W16zKYgUXj"}
USDC_MINT_DEVNET=
TREASURY_USDC_ATA=
TREASURY_SOL_VAULT=
HIDDEN_BET_MULTISIG_PUBKEY=
HIDDEN_BET_MULTISIG_SIGNERS=
OTEL_EXPORTER_OTLP_ENDPOINT=

NEXT_PUBLIC_SOLANA_CLUSTER=localnet
NEXT_PUBLIC_SOLANA_RPC=http://127.0.0.1:8899
NEXT_PUBLIC_MAGICBLOCK_ROUTER_RPC=http://127.0.0.1:7799
NEXT_PUBLIC_MAGICBLOCK_ROUTER_WS=ws://127.0.0.1:7800
NEXT_PUBLIC_MAGICBLOCK_PER_RPC=http://127.0.0.1:7799
NEXT_PUBLIC_MAGICBLOCK_PER_AUTH_MODE=local
NEXT_PUBLIC_USDC_MINT=
